<h2>BOOK CARD</h2>

{{!-- {{book.title}}
{{book.author}}
{{book.imageUrl}}
{{book.description}}
{{book.cache.clue}} --}}

<main class="container main-container">

    <div class="row">
        
        <div class="col s12 l4 col-gauche center-align">
            <img class="book-page-image" src="{{book.imageUrl}}" />
        </div>

        <div class="col s12 l8 col-droite book-page-infos">
            <h3>{{book.title}}</h3>
            <h5>By {{book.author}}</h5>
            <p>{{book.description}}</p>

            <section class="book-page-clue">
                <h5>Clue</h5>
                <div>
                    {{!-- <i class="material-icons clue-icon prefix">search</i> --}}
                    <p>{{book.cache.clue}}</p>
                </div>
                
            </section>
            <div class="clearBoth"></div>
        </div>

        
    </div>


</main>