<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <!--Import Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  </head>
  <body>

    {{!-- HEADER /////////////////////////////////////////////////////////////////////////////// --}}

    <header>

      {{!-- NAV FOR LAREGE SCREEN  --}}
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img class="responsive-img rmiyc-logo" src="/images/rmiyc_logo_300x60.png" /></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

              {{#if blahUser}}

                <li><a href="/">Books Map</a></li>
                <li><a href="/books-list">Books List</a></li>
                <li><a href="/book-add">Share a book</a></li>
                {{!-- <li><a href="/book-page">Book Page</a></li> --}}
                <li><a href="/user-account/{{blahUser._id}}">{{blahUser.nickname}} - <span class="score">{{blahUser.score}}</span></a></li>
                <li><a href="/logout"> <i class="material-icons logout-btn">power_settings_new</i></a></li>





              {{else}}
                  <li><a href="/signup">Sign up now</a>
                  <li><a href="/login"><span class="fade-text">Already have an account?</span> Log In</a></li>
              {{/if}}


            </ul>
          </div>
        </nav>
      </div>

      {{!-- NAV FOR MOBILE  --}}
      <ul class="sidenav" id="mobile-demo">

        {{#if blahUser}}

          <li><a href="/">Books Map</a></li>
          <li><a href="/books-list">Books List</a></li>
          <li><a href="/book-add">Share a book</a></li>
          {{!-- <li><a href="/book-page">Book Page</a></li> --}}
          <li><a href="/user-account/{{blahUser._id}}">{{blahUser.nickname}} - {{blahUser.score}}</a></li>
          <li><a href="/logout"> <i class="material-icons logout-btn">power_settings_new</i></a></li>

        {{else}}
            <li><a href="/signup">Sign up now</a>
            <li><a href="/login">Log In</a></li>
        {{/if}}

      </ul>

    </header>

    {{!-- END OF THE HEADER //////////////////////////////////////////////////////////////////// --}}

    {{!-- <main class="container main-container"> --}}

      {{{body}}}

    {{!-- </main> --}}

    

    {{!-- FOOTER ////////////////////////////////////////////////////////////////////////////// --}}
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">READ ME IF YOU CAN</h5>
            <p class="grey-text text-lighten-4">
              A geocaching app designed to books lovers.<br/>
              Share your passion for reading with the community: 
              add some books on the database, hide them wherever you want in the town 
              and give other users clues.

            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/">Book map</a></li>
              <li><a class="grey-text text-lighten-3" href="/books-list">All the books to find</a></li>
              <li><a class="grey-text text-lighten-3" href="/book-add">Share a book</a></li>
              {{!-- <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> --}}
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container center-align">
          <p>Made at Ironhack <span class="white-text text-darken-4">by Bertrand & Clément</span></p>
        </div>
      </div>
    </footer>

    
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/javascripts/layout-script.js"></script>
  </body>
</html>


